@use "utilities/font" as *;
@use "utilities/variables" as *;
@use "utilities/inherited";
@use "utilities/normalize";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 1.5rem "Space Mono", monospace;
  background-color: $light-grayish-cyan;
}
.heading {
  font-size: 1rem;
  text-transform: uppercase;
  color: $very-dark-cyan;
  text-align: center;
  letter-spacing: 0.5rem;
  margin: 2rem 0;
}
main {
  background-color: $white;
  border-radius: 20px 20px 0 0;
  padding: 1.5rem;
  padding-bottom: 3rem;
  display: grid;
  @media screen and (min-width: 40em) {
    & {
      border-radius: 20px;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  label {
    font-size: 1rem;
    color: $dark-grayish-cyan;
  }
}
.container {
  padding: 0.5rem;
}
.bill {
  position: relative;
  width: 100%;
}
.bill__img {
  @extend %input-icon-shared;
}
.bill__input {
  @extend %input-shared;
}
.btn__container {
  margin: 1rem 0;
  color: $dark-grayish-cyan;
  &--title {
    font-size: 1rem;
  }
}
.btn__group {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  @media screen and (min-width: 40em) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  li {
    list-style-type: none;
  }
}

.btn {
  @extend %btn-shared;
  &:hover {
    background-color: $light-grayish-cyan;
    color: $very-dark-cyan;
  }
}
.btn--active {
  background-color: $strong-cyan;
  color: $very-dark-cyan;
}
.btn__custom {
  @extend %input-shared;
  text-align: center;
  padding: 0.3rem 0;
  width: 100%;
  &::placeholder {
    color: $dark-grayish-cyan;
  }
}
.people {
  position: relative;
  width: 100%;
}
.number__img {
  @extend %input-icon-shared;
}
.number__input {
  @extend %input-shared;
}
.label__container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 40em) {
    & {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
  }
}
.card {
  position: relative;
  background-color: $very-dark-cyan;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  height: 100%;

  @media screen and (min-width: 40em) {
    & {
      width: 350px;
      margin: 0;
      margin-left: 1rem;
    }
  }
}
.card__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $light-grayish-cyan;
  @media screen and (min-width: 40em) {
    &:first-of-type {
      margin-top: 1.5rem;
    }
  }
  &:last-of-type {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.card__bold {
  color: $very-light-grayish-cyan;
  display: block;
}
.card__amount {
  font-size: 2rem;
  color: $strong-cyan;
}
.card__reset {
  @extend %btn-shared;
  position: absolute;
  padding: 0.5rem 0;
  padding-block: 0.5rem;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background-color: $strong-cyan;
  color: $very-dark-cyan;
  width: 90%;
  &:hover {
    background-color: $light-grayish-cyan;
  }
}
//  ********** Helper classes *****
.err--msg {
  color: red;
  font-size: 1rem;
}
.input--err {
  border: 2px solid red;
}
