@use "utilities/font" as *;
@use "utilities/variables" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 1.5rem "Space Mono", monospace;
  background-color: $strong-cyan;
}
